<template>
    <div class="loader_outer"><div class="loader_inner"></div></div>
</template>

<script>
import { Vue, Component } from 'vue-property-decorator';

@Component({
  name: 'Loader',
  components: {}
})
export default class Loader extends Vue {}
</script>

<style scoped>
  @keyframes load_outer {
    from {
      transform: scale(1);
    }

    25% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(0.5);
    }

    to {
      transform: scale(1);
    }
  }

  @keyframes load_inner {
    from {
      transform: scale(1);
    }

    25% {
      transform: scale(1.5);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(0.8);
    }

    to {
      transform: scale(1);
    }
  }

  .loader_outer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    animation: 3s load_outer infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader_inner {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #fff;
    animation: 3s load_inner infinite;
  }
</style>
