<template>
  <header class="main_header">
    <Button :text="actionBtnText" :click-handler="actionBtcClick" />
    <h1>Wazzup notes</h1>
    <Button text="Logout" :click-handler="onLogout" />
  </header>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';
  import { logout } from '@/api/user';
  import Button from "@/components/button/index.vue";

  @Component({
    name: 'AppHeader',
    components: {Button}
  })
  export default class AppHeader extends Vue {
    private actionBtnText = 'Create new note'
    private actionBtcClick = () => {}

    created() {
      if (this.$route.path !== '/') {
        this.actionBtnText = 'Main page'
        this.actionBtcClick = async () => {
          await this.$router.push('/')
        }
      } else {
        this.actionBtcClick = this.createNewNote
      }
    }

    private async createNewNote() {
      await this.$router.push('/note/new')
    }

    private async onLogout() {
      try {
        const { data } = await logout()

        if (data.error) {
          throw new Error(data.error)
        }
      } catch (error) {
        this.$toast.error(error.message)
      } finally {
        await this.$router.push('/login')
      }
    }
  }
</script>

<style scoped lang="scss">
  .main_header {
    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;
    padding: 0 4px;
    margin: 0 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    z-index: 100;

    @media (max-width: 425px) {
      left: 0;
      right: 0;
      top: 0;
      margin: 0;
      padding: 8px;
    }
  }
</style>
