<template>
  <div class="input">
    <label v-if="label.length > 0" class="input_label">{{ label }}:</label>
    <div class="input_wrapper">
      <textarea
        class="input_value textarea"
        @input="(e) => handleInput(e.target.value)"
        :value="value"
        v-if="type === 'multiline'"
        :maxlength="maxLength"
      ></textarea>
      <input
        class="input_value"
        @input="(e) => handleInput(e.target.value)"
        :value="value"
        :type="showPwd ? '' : type"
        v-else
      />
      <span
        class="input_controls"
        @click="toggleShowPwd"
        v-if="type === 'password'"
      >
        <EyeOn v-if="showPwd" width="30px" height="30px" fill="rgba(55, 55, 55, 0.6)"/>
        <EyeOff v-else width="30px" height="30px" fill="rgba(55, 55, 55, 0.6)" />
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import EyeOn from '@/assets/icons/eye-on.svg'
import EyeOff from '@/assets/icons/eye-off.svg'

@Component({
  name: 'Input',
  components: {
    EyeOn,
    EyeOff
  },
  props: {
    label: { type: String, default: '' },
    value: { type: String, default: '' },
    handleInput: { type: Function, default: (text: string) => {} },
    type: { type: String, default: '' },
    maxLength: { type: Number }
  }
})
export default class Input extends Vue {
  private showPwd: boolean = false;

  private toggleShowPwd() {
    if (this.$props.type === 'password') {
      this.showPwd = !this.showPwd
    }
  }
}
</script>

<style scoped lang="scss">
  .input {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;

    & > .input_label {
      font-size: 1em;
      color: rgba(55, 55, 55, 0.8);
      margin-bottom: 4px;
    }

    & > .input_wrapper {
      width: 100%;
      position: relative;

      & > .input_controls {
        width: 32px;
        height: 32px;
        padding: 2px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }

    & .input_value {
      box-sizing: border-box;
      max-width: 100%;
      width: 100%;
      font-size: 1.1em;
      color: rgba(55, 55, 55, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      padding: 6px;
      word-break: break-all;

      &:focus {
        outline: none;
        box-shadow: 0 0 3px 0 #000;
      }

      &.textarea {
        overflow-wrap: break-word;
        text-align: left;
        height: 180px;
        font-size: 1.1em;
        color: rgba(55, 55, 55, 0.8);
        overflow-y: scroll;
      }
    }

    &.error .input_value {
      border: 1px solid #f33;
    }
  }
</style>
