<template>
  <button class="button" @click="clickHandler" :style="{ width: width, height: height }">
    <slot v-if="$slots.default"></slot>
    {{ !$slots.default ? text : null }}
  </button>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'Button',
    components: {},
    props: {
      text: { type: String, default: 'button' },
      clickHandler: { type: Function, default: () => {} },
      width: { type: String },
      height: { type: String }
    }
  })
  export default class Button extends Vue {

  }
</script>

<style scoped lang="scss">
  .button {
    min-width: 120px;
    height: 40px;
    font-size: 1.2em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: rgba(213, 213, 213, 0.7);
    color: rgb(90, 90, 90);
    margin: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 3px 0 #000;
    }

    &:hover {
      background-color: rgb(190, 190, 190);
    }
  }
</style>
