<template>
  <div id="app">
    <router-view>
      <LoginPage />
    </router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import LoginPage from '@/views/login/index.vue';

  @Component({
    name: 'App',
    components: {
      LoginPage,
    }
  })
export default class App extends Vue {

};
</script>

<style>
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 90, 90, 0.2)
}
</style>
