<template>
  <div class="card_wrapper" :style="{ width: width, height: height}">
    <header v-if="title.length > 0">
      {{ title }}
      <div v-if="$slots['actions']">
        <slot name="actions"></slot>
      </div>
    </header>
    <div class="content">
      <slot></slot>
    </div>
    <footer v-if="$slots['footer']">
      <slot name="footer"></slot>
    </footer>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({
  name: 'Card',
  components: {},
  props: {
    title: { type: String, default: '' },
    width: { type: String },
    height: { type: String }
  }
})
export default class Card extends Vue {

}
</script>

<style lang="scss" scoped>
.card_wrapper {
  box-sizing: border-box;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  min-width: 320px;
  min-height: 250px;
  max-width: 550px;
  background-color: #fff;
  margin: 16px 8px;

  @media (max-width: 425px) {
    width: 100%!important;
    padding: 8px;
    border-radius: 0;
  }

  & .content {
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-all;
  }

  & header {
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
  }

  & footer {
    padding: 8px 0 0 0;
    font-size: 0.8em;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}
</style>
