<template>
  <div v-if="pageCount > 1" class="pagination_wrapper">
    <LeftArrow class="arrow" width="40px" height="20px" @click="prevPage"/>
    <div
      :class="{ page: true, active: p == page }"
      v-for="p in pages"
      @click="() => p !== '...' && $props.paginate({ page: p })"
    >
      {{ p }}
    </div>
    <RightArrow class="arrow"  width="40px" height="20px" @click="nextPage"/>
    <div class="goto">
      <Input :value="goToPage" :handle-input="changeGoTo" />
      <Button text="Go" :click-handler="goTo" />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';
  import LeftArrow from '@/assets/icons/left-arrow.svg'
  import RightArrow from '@/assets/icons/right-arrow.svg'
  import Input from "@/components/input/index.vue";
  import Button from "@/components/button/index.vue";
  @Component({
    name: 'Pagination',
    components: {Button, Input, LeftArrow, RightArrow },
    props: {
      page: { type: Number },
      pageCount: { type: Number },
      total: { type: Number, default: 100 },
      limit: { type: Number, default: 2 },
      paginate: { type: Function, default: () => {} }
    }
  })
  export default class Pagination extends Vue {
    private maxPage: number = 10
    private pages: any[] = []
    private goToPage: string = '1'

    mounted() {
      this.maxPage = Math.ceil(this.$props.total / this.$props.limit)
      const pages: number[] = []
      for (let i = 1; i <= this.maxPage && i <= 10; i++) {
        pages.push(i)
      }

      if (this.maxPage > 10) {
        if (this.$props.page >= 10) {
          pages[8] = '...'
          if (this.$props.page !== this.maxPage) {
            pages[9] = this.$props.page
            pages.push(this.$props.page + 1)
          } else {
            pages[9] = this.$props.page - 1
            pages.push(this.$props.page)
          }
        } else {
          pages[9] = '...'
          pages.push(this.maxPage)
        }
      }
      this.pages = [ ...pages ]
    }

    private prevPage() {
      if (this.$props.page > 1) {
        this.$props.paginate({ page: this.$props.page - 1 })
      }
    }

    private nextPage() {
      if (this.$props.page < this.maxPage) {
        this.$props.paginate({ page: this.$props.page + 1 })
      }
    }

    private changeGoTo(text: string) {
      this.goToPage = text
    }

    private goTo() {
      if (+this.goToPage <= this.maxPage && +this.goToPage > 0) {
        this.$props.paginate({page: +this.goToPage})
      }
    }
  }
</script>

<style scoped lang="scss">
  .pagination_wrapper {
    width: 100%;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
  }

  .arrow {
    background-color: #fff;
    padding: 10px 0;

    &:hover {
      background-color: rgba(100, 100, 100, 0.1);
    }
  }

  .page {
    background-color: #fff;
    padding: 10px;
    margin: 0 4px;

    &:hover {
      background-color: rgba(100, 100, 100, 0.1);
    }

    &.active {
      background-color: rgba(100, 100, 100, 0.2);
    }
  }

  .goto {
    display: flex;
    align-items: center;
    width: 200px;

    & > .input {
      width: 40%;
      margin-right: 8px;
    }

    & > .button {
      width: 20%;
    }
  }
</style>
