<template>
  <div class="main_wrapper">
    <app-header />
    <Card v-if="canEdit" :title="cardTitle" width="550px" height="400px">
      <Input
        :label="'Length: ' + textLength + '/1000'"
        :value="text"
        :handle-input="changeText"
        type="multiline"
        :max-length="1000"
        :class="{
          error: text.length === 0
        }"
      />
      <template v-slot:footer>
        <div class="card_actions">
          <Button :text="saveBtnText" :click-handler="saveNote" width="40%">
            <Loader v-if="loading" />
          </Button>
          <Button :text="cancelBtnText" :click-handler="deleteNote" width="40%">
            <Loader v-if="loading" />
          </Button>
        </div>
      </template>
    </Card>
    <Card v-else :title="'Note №' + note.id" width="550px" height="400px">
      <div class="note_content">{{ note.text }}</div>
      <template v-slot:footer>
          <span class="note_footer_text">
            Created: {{(new Date(note.createdAt)).toLocaleString() }}
          </span> <br/>
        <span class="note_footer_text">
            Updated: {{(new Date(note.updatedAt)).toLocaleString() }}
          </span>
      </template>
    </Card>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';
  import { deleteNote, getNoteByHash, saveNote, updateNote} from '@/api/notes';
  import Card from '@/components/card/index.vue';
  import Input from '@/components/input/index.vue';
  import Button from '@/components/button/index.vue';
  import AppHeader from "@/components/appHeader/index.vue";
  import {INote} from "@/api/types";

  @Component({
    name: 'EditNote',
    components: {
      AppHeader,
      Button,
      Card,
      Input
    }
  })
  export default class EditNote extends Vue {
    private text: string = ''
    private textLength: number = 0
    private loading: boolean = false
    private note: INote | null = null
    private saveBtnText = 'Save'
    private cancelBtnText = 'Cancel'
    private cardTitle = 'New note'
    private canEdit = true

    created() {
      if (this.$route.params.hash === 'new') return

      getNoteByHash({ hash: this.$route.params.hash })
        .then(({ data }) => {
          this.canEdit = data.editable
          this.note = data.dataValues
          if (!this.note) {
            return
          }
          this.changeText(this.note.text)
          this.saveBtnText = 'Update'
          this.cancelBtnText = 'Delete'
          this.cardTitle = 'Edit note'
        })
    }

    private changeText(text: string) {
      this.text = text
      this.textLength = this.text.length
    }

    private async saveNote() {
      try {
        if (this.note) {
          this.note.text = this.text
          await updateNote(this.note)
        } else {
          await saveNote({text: this.text})
        }
      } catch (error) {
        this.$toast.error(error.message)
      } finally {
        await this.$router.push('/')
      }
    }

    private async deleteNote() {
      try {
        if (this.note) {
          await deleteNote({id: this.note.id})
        }
      } catch (error) {
        this.$toast.error(error.message)
      } finally {
        await this.$router.push('/')
      }
    }
  }
</script>

<style scoped>
  .main_wrapper {
    position: relative;
    box-sizing: border-box;
    margin: 16px;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card_actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
</style>
