<template>
  <Card title='Registration'>
    <Input label="Login" :value="login" :handle-input="changeLogin" :class="{
      error: !loginValidation
    }"/>
    <Input label="Password" :value="password" :handle-input="changePassword" type="password" :class="{
      error: !passwordValidation
    }"/>
    <Button text="Sign up" :click-handler="onRegister">
      <Loader v-if="loading" />
    </Button>

    <template v-slot:footer>
      Or
      <router-link to="login">
        sign in
      </router-link>
    </template>
  </Card>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';
  import { register } from '@/api/user'
  import Card from '@/components/card/index.vue';
  import Input from '@/components/input/index.vue';
  import Button from "@/components/button/index.vue";
  import Loader from "@/components/loader/index.vue";

  @Component({
    name: 'RegistrationPage',
    components: {
      Button,
      Card,
      Input,
      Loader
    }
  })
  export default class RegistrationPage extends Vue {
    private login: string = ''
    private password: string = ''
    private loading: boolean = false
    private loginValidation = true
    private passwordValidation = true

    private async onRegister(event: MouseEvent) {
      this.loading = true
      try {
        this.validate(this.login, this.password)

        if (this.loginValidation && this.passwordValidation) {
          const {data} = await register({login: this.login, password: this.password})

          if (data.error) {
            throw new Error(data.error)
          }

          await this.$router.push('/')
        }
        this.loading = false
      } catch (error) {
        this.$toast.error(error.message)
        this.loading = false
      }
    }

    private changePassword(event: any) {
      this.password = event.target.value
    }

    private changeLogin(event: any) {
      this.login = event.target.value
    }

    private validate(login: string, password: string) {
      if (login.length < 6) {
        this.loginValidation = false
      } else {
        this.loginValidation = true
      }

      if (password.length < 6) {
        this.passwordValidation = false
      } else {
        this.passwordValidation = true
      }
    }
  }
</script>

<style scoped>

</style>
