<template>
  <div class="main_wrapper">
    <div v-if="menuIsOpen" class="menu" :style="{ top: menuTop, left: menuLeft }">
      <Button text="Share" :click-handler="shareNote"></Button>
      <Button text="Edit" :click-handler="() => editNote(selectedNoteHash)"></Button>
      <Button text="Delete" :click-handler="deleteNote"></Button>
    </div>
    <app-header />
    <div v-if="!loading" class="notes_list">
      <Pagination :paginate="getList" :page="page" :total="total" :pageCount="pageCount" :limit="limit"/>
      <Card v-for="note in notes" :title="'Note №' + note.id" width="320px" height="300px"
            @click.native="() => editNote(note.hash)"
      >
        <template v-slot:actions>
          <Menu
            class="menu_button" width="16px" height="16px" fill="rgba(0, 0, 0, 0.5)"
            @click="(e) => openMenu(e, note.hash, note.id)"
          />
        </template>
        <div class="note_content">{{ note.text }}</div>
        <template v-slot:footer>
          <span class="note_footer_text">
            Created: {{(new Date(note.createdAt)).toLocaleString() }}
          </span> <br/>
          <span class="note_footer_text">
            Updated: {{(new Date(note.updatedAt)).toLocaleString() }}
          </span>
        </template>
      </Card>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';
  import { INote } from '@/api/types';
  import {deleteNote, getNotes} from '@/api/notes';
  import AppHeader from "@/components/appHeader/index.vue";
  import Card from "@/components/card/index.vue";
  import Button from "@/components/button/index.vue";
  import Menu from '@/assets/icons/menu.svg'
  import Pagination from "@/components/pagination/index.vue";

  @Component({
    name: 'MainPage',
    components: {Pagination, AppHeader, Card, Menu, Button}
  })
  export default class LoginPage extends Vue {
    private notes: INote[] = []
    private loading: boolean = true
    private page: number = 1
    private total: number = 0
    private limit: number = 10
    private pageCount: number = 2
    private menuIsOpen: boolean = false
    private menuTop: string = ''
    private menuLeft: string = ''
    private selectedNoteHash: string = ''
    private selectedNoteId: number = -1

    created() {
      this.getList()
    }

    private getList(params?: { page: number }) {
      this.loading = true
      this.page = params && params.page ? params.page : 1

      getNotes({ page: this.page, limit: this.limit })
        .then(({ data }) => {
          this.notes = data.notes
          this.total = data.total
          this.pageCount = Math.ceil(this.total / this.limit) + 1
          this.loading = false
        })
        .catch((error: Error) => {
          console.error(error)
        })
    }

    private async editNote(hash: string) {
      await this.$router.push(`/note/${hash}`)
    }

    private async shareNote() {
      await navigator.clipboard.writeText(`${window.location.origin}/note/${this.selectedNoteHash}`)
      this.$toast.success('Link copied to clipboard')
    }

    private async deleteNote() {
      try {
        await deleteNote({id: this.selectedNoteId})
        this.notes = this.notes.filter((note: INote) => note.id !== this.selectedNoteId)
      } catch (error) {
        this.$toast.error(error.message)
      }
    }

    private openMenu(event: MouseEvent, hash: string, id: number) {
      event.stopPropagation()
      this.menuLeft = event.clientX + 'px'
      this.menuTop = event.clientY + 'px'
      this.menuIsOpen = true
      this.selectedNoteHash = hash
      this.selectedNoteId = id

      const closeMenu = (e: MouseEvent) => {
        this.menuIsOpen = false;
        document.removeEventListener('click', closeMenu)
      }

      document.addEventListener('click', closeMenu)
    }
  }
</script>

<style scoped lang="scss">
  .main_wrapper {
    box-sizing: border-box;
    margin: 16px;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    background-color: #fff;
    overflow-y: scroll;

    @media (max-width: 425px) {
      width: 100%;
      margin: 16px 0 0 0;
      height: 100%;
      overflow-y: auto;
      border: none;
      border-radius: 0;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }

  .notes_list {
    margin: 90px 8px 0 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 425px) {
      margin: 90px 0 0 0;
    }
  }

  .note_footer_text {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.65);
  }

  .note_content {
    padding: 16px 0;
  }

  .menu_button {
    position: absolute;
    top: 8px;
    right: 0;
  }

  .menu {
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 6px 3px #000;
    padding: 8px;
    z-index: 200;
  }
</style>
